html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

div, input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

body { font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; font-weight: 300; font-size: 20px; line-height: 1.2; color: #333333; }

button, input, textarea { font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; font-weight: 300; }

a { text-decoration: none; }

.wrapper { min-height: 100%; margin-bottom: -300px; }
@media only screen and (max-width: 980px) { .wrapper { margin-bottom: -250px; } }

.push { height: 300px; }
@media only screen and (max-width: 980px) { .push { height: 250px; } }

.l-center { max-width: 1700px; margin: 0 auto; padding: 0 30px; }
@media only screen and (max-width: 1760px) { .l-center { max-width: 900px; } }
@media only screen and (max-width: 980px) { .l-center { max-width: 290px; padding: 0 15px; } }
.l-center.l-center_small { max-width: 1360px; }
@media only screen and (max-width: 1760px) { .l-center.l-center_small { max-width: 900px; } }
@media only screen and (max-width: 980px) { .l-center.l-center_small { max-width: 290px; padding: 0 15px; } }

.header { margin-bottom: 40px; background: #101010; }
@media only screen and (max-width: 980px) { .header { margin-bottom: 20px; } }
.header .header__in { position: relative; *zoom: 1; }
.header .header__in:after { content: " "; display: table; clear: both; }
.header .header__logo { float: left; font-size: 0; }
.header .phone { margin: 100px 0 0 75px; }
@media only screen and (max-width: 1760px) { .header .phone { margin: 93px 0 0 10px; } }
@media only screen and (max-width: 980px) { .header .phone { top: 39px; margin: 0; } }
.header .nav-btn { top: 10px; }
.header .nav { margin-top: 25px; }
@media only screen and (max-width: 980px) { .header .nav { margin: 0; } }
.header .nav__list.is-active { position: relative; }
.header .nav__list.is-active:before { content: ""; position: absolute; top: -25px; left: 0; right: 0; height: 6px; background: #e31e24; }
@media only screen and (max-width: 980px) { .header .nav__list.is-active:before { display: none; } }
.header .nav__list li.is-active a { position: relative; color: #656363; }

.nav-btn { display: none; position: absolute; top: 18px; right: 15px; background: url('../img/icons-s486f9a8783.png') 0 -522px no-repeat; width: 27px; height: 19px; z-index: 4; }
@media only screen and (max-width: 980px) { .nav-btn { display: block; } }

.main { margin-bottom: 85px; padding-bottom: 4px; border-bottom: 2px solid #1d1e1d; }
@media only screen and (max-width: 1760px) { .main { margin-bottom: 45px; } }
.main .main__bg { background: url(../img/bg-main.jpg) 50% 50%; background-size: cover; }
.main .main__center { height: 100vh; min-height: 100%; max-width: 1520px; margin: 0 auto; padding: 0 30px; }
@media only screen and (max-width: 1760px) { .main .main__center { max-width: 900px; } }
@media only screen and (max-width: 980px) { .main .main__center { max-width: 290px; height: 825px; padding: 0 15px; } }
.main .main__header { position: relative; min-height: 175px; padding-top: 60px; margin-bottom: 100px; *zoom: 1; }
.main .main__header:after { content: " "; display: table; clear: both; }
@media only screen and (max-width: 980px) { .main .main__header { min-height: 13px; padding: 0; margin: 0; } }
.main .main__in { *zoom: 1; }
.main .main__in:after { content: " "; display: table; clear: both; }
.main .main__logo { float: left; font-size: 0; }
@media only screen and (max-width: 980px) { .main .main__logo { margin-bottom: 20px; } }
.main .main__serv { float: right; }
@media only screen and (max-width: 980px) { .main .main__serv { text-align: center; } }
.main .main__serv-item { display: inline-block; margin-left: 15px; background: white; text-align: center; vertical-align: top; }
@media only screen and (max-width: 1760px) { .main .main__serv-item { width: 230px; margin-left: 8px; } }
@media only screen and (max-width: 980px) { .main .main__serv-item { margin: 0 0 8px; } }
.main .main__serv-pic { position: relative; }
.main .main__serv-pic img { display: block; }
.main .main__serv-pic:after { content: ""; position: absolute; left: 0; right: 0; bottom: 0; height: 1px; background: rgba(0, 0, 0, 0.15); }
.main .main__serv-title { padding: 24px 0 38px; font-size: 20px; text-transform: uppercase; color: #333333; }
@media only screen and (max-width: 1760px) { .main .main__serv-title { padding: 16px 0 17px; font-size: 16px; } }

.phone { float: left; font-size: 0; }
@media only screen and (max-width: 980px) { .phone { float: none; position: absolute; top: 61px; right: 15px; } }
.phone .phone__in, .phone .phone__ico { display: inline-block; vertical-align: middle; }
.phone .phone__in { margin-right: 25px; font-size: 22px; color: #c5c5c5; }
@media only screen and (max-width: 1760px) { .phone .phone__in { font-size: 20px; } }
@media only screen and (max-width: 980px) { .phone .phone__in { margin-right: 15px; font-size: 18px; } }
.phone .phone__ico { background: url('../img/icons-s486f9a8783.png') 0 -152px no-repeat; width: 26px; height: 35px; }
@media only screen and (max-width: 980px) { .phone .phone__ico { background: url('../img/icons-s486f9a8783.png') 0 -276px no-repeat; width: 21px; height: 28px; } }

.nav { float: right; margin-top: 8px; }
@media only screen and (max-width: 980px) { .nav.nav_main { display: none; position: absolute; top: 0; right: -15px; width: 210px; margin: 0; padding: 20px 15px 50px 20px; background: #101010; z-index: 2; } }
@media only screen and (max-width: 980px) { .nav.nav_main .nav__list { display: block; padding: 0; margin-bottom: 10px; border: none; }
  .nav.nav_main .nav__list li { margin-left: 25px; padding: 5px 0 5px 10px; border-left: 1px solid #e31e24; }
  .nav.nav_main .nav__list li a { font-size: 18px; }
  .nav.nav_main .nav__list li:first-child { margin: 0 0 10px; padding: 0; border: none; }
  .nav.nav_main .nav__list li:first-child a { text-transform: none; font-size: 22px; } }
.nav .nav__list { display: table-cell; padding: 0 15px; border-left: 1px solid #5f5f5f; vertical-align: top; }
.nav .nav__list:first-child { border: none; }
.nav .nav__list li { line-height: 1.1; }
.nav .nav__list li:first-child { margin-bottom: 5px; }
.nav .nav__list li:first-child a { text-transform: uppercase; font-size: 20px; }
@media only screen and (max-width: 1760px) { .nav .nav__list li:first-child a { font-size: 18px; } }
.nav .nav__list a { color: #c5c5c5; font-size: 16px; }

.slider { margin-bottom: 180px; }
@media only screen and (max-width: 1760px) { .slider { margin-bottom: 70px; } }
@media only screen and (max-width: 980px) { .slider { margin-bottom: 45px; } }
.slider .slider__nav { margin-bottom: 45px; text-align: center; }
@media only screen and (max-width: 980px) { .slider .slider__nav { margin-bottom: 20px; } }
.slider .slider__nav-in { display: inline-block; padding: 0 15px 7px; border-bottom: 1px solid #a0a0a0; font-size: 0; }
@media only screen and (max-width: 980px) { .slider .slider__nav-in { padding: 0 0 8px; } }
.slider .slider__nav-in a { position: relative; display: inline-block; font-size: 18px; color: #9e9e9e; }
@media only screen and (max-width: 1760px) { .slider .slider__nav-in a { font-size: 16px; } }
@media only screen and (max-width: 980px) { .slider .slider__nav-in a { font-size: 14px; } }
.slider .slider__nav-in a:first-child { margin-right: 30px; }
@media only screen and (max-width: 980px) { .slider .slider__nav-in a:first-child { margin-right: 5px; } }
.slider .slider__nav-in a.is-active { color: #404040; cursor: default; }
.slider .slider__nav-in a.is-active:after { content: ""; position: absolute; bottom: -10px; left: 50%; height: 3px; width: 68px; margin-left: -34px; background: #e31e24; }
.slider .slider__center { position: relative; max-width: 1210px; margin: 0 auto; }
@media only screen and (max-width: 1760px) { .slider .slider__center { max-width: 850px; } }
.slider .slider__in { margin-bottom: 15px; padding-bottom: 60px; border-bottom: 2px solid #a0a0a0; }
@media only screen and (max-width: 980px) { .slider .slider__in { padding-bottom: 40px; margin-bottom: 10px; } }
.slider .slider__about { font-size: 30px; text-align: center; }
@media only screen and (max-width: 1760px) { .slider .slider__about { font-size: 24px; } }
@media only screen and (max-width: 980px) { .slider .slider__about { font-size: 16px; } }
.slider .slider__list { position: relative; }
.slider .slider__prev, .slider .slider__next { position: absolute; top: 50%; margin-top: -78px; background: none; font-size: 0; }
@media only screen and (max-width: 980px) { .slider .slider__prev, .slider .slider__next { display: none; } }
.slider .slider__prev { left: -170px; }
@media only screen and (max-width: 1760px) { .slider .slider__prev { left: -30px; } }
.slider .slider__next { right: -170px; }
@media only screen and (max-width: 1760px) { .slider .slider__next { right: -30px; } }
.slider .slider__item { width: 100%; }
.slider .slider__item-in { position: relative; width: 100%; height: 600px; }
@media only screen and (max-width: 1760px) { .slider .slider__item-in { height: 430px; } }
@media only screen and (max-width: 980px) { .slider .slider__item-in { height: 400px; } }
.slider .slider__pic { position: absolute; }
.slider .slider__pic-in { width: 270px; height: 270px; border-radius: 50%; background: white; border: 2px solid #e31e24; text-align: center; font-size: 0; }
.slider .slider__pic-in:before { content: ""; display: inline-block; vertical-align: middle; width: 0; height: 100%; }
@media only screen and (max-width: 1760px) { .slider .slider__pic-in { width: 172px; height: 172px; } }
@media only screen and (max-width: 980px) { .slider .slider__pic-in { width: 130px; height: 130px; } }
.slider .slider__pic-in:after { content: ""; position: absolute; top: 50%; left: 50%; width: 184px; height: 184px; margin: -97px 0 0 -97px; border-radius: 50%; border: 5px solid #404040; z-index: 2; }
@media only screen and (max-width: 1760px) { .slider .slider__pic-in:after { width: 116px; height: 116px; margin: -63px 0 0 -63px; } }
@media only screen and (max-width: 980px) { .slider .slider__pic-in:after { width: 88px; height: 88px; margin: -49px 0 0 -49px; } }
.slider .slider__pic-in img { position: relative; vertical-align: middle; z-index: 4; }
.slider .slider__pic_big .slider__pic-in { width: 530px; height: 530px; }
@media only screen and (max-width: 1760px) { .slider .slider__pic_big .slider__pic-in { width: 334px; height: 334px; } }
@media only screen and (max-width: 980px) { .slider .slider__pic_big .slider__pic-in { width: 250px; height: 250px; } }
.slider .slider__pic_big .slider__pic-in:after { width: 360px; height: 360px; margin: -185px 0 0 -185px; }
@media only screen and (max-width: 1760px) { .slider .slider__pic_big .slider__pic-in:after { width: 224px; height: 224px; margin: -117px 0 0 -117px; } }
@media only screen and (max-width: 980px) { .slider .slider__pic_big .slider__pic-in:after { width: 170px; height: 170px; margin: -90px 0 0 -90px; } }
.slider .slider__text { position: absolute; font-size: 30px; }
@media only screen and (max-width: 1760px) { .slider .slider__text { font-size: 18px; } }
@media only screen and (max-width: 980px) { .slider .slider__text { font-size: 10px; } }
.slider .slider__text span { display: inline-block; font-size: 120px; vertical-align: top; line-height: 0.8; }
@media only screen and (max-width: 1760px) { .slider .slider__text span { font-size: 74px; } }
@media only screen and (max-width: 980px) { .slider .slider__text span { font-size: 48px; } }
.slider .slider__text_1 { top: 80px; left: 10px; width: 540px; }
@media only screen and (max-width: 1760px) { .slider .slider__text_1 { left: 50px; width: 340px; } }
@media only screen and (max-width: 980px) { .slider .slider__text_1 { top: 0; left: 0; width: 230px; } }
.slider .slider__text_2 { bottom: 0; left: 350px; }
@media only screen and (max-width: 1760px) { .slider .slider__text_2 { left: 270px; } }
@media only screen and (max-width: 980px) { .slider .slider__text_2 { left: 140px; } }
.slider .slider__text_3 { top: 100px; right: 10px; width: 560px; }
@media only screen and (max-width: 1760px) { .slider .slider__text_3 { width: 400px; } }
@media only screen and (max-width: 980px) { .slider .slider__text_3 { top: 0; right: 0; width: 200px; } }
.slider .slider__text_4 { bottom: 0; right: 280px; width: 420px; }
@media only screen and (max-width: 1760px) { .slider .slider__text_4 { right: 180px; } }
@media only screen and (max-width: 980px) { .slider .slider__text_4 { right: 140px; width: 150px; } }
.slider .slider__pic_1 { top: 0; right: 0; }
@media only screen and (max-width: 1760px) { .slider .slider__pic_1 { right: 50px; } }
@media only screen and (max-width: 980px) { .slider .slider__pic_1 { top: 65px; right: 0; } }
.slider .slider__pic_2 { bottom: 0; left: 0; }
@media only screen and (max-width: 1760px) { .slider .slider__pic_2 { left: 50px; } }
@media only screen and (max-width: 980px) { .slider .slider__pic_2 { left: 0; } }
.slider .slider__pic_3 { top: 0; left: 0; }
@media only screen and (max-width: 1760px) { .slider .slider__pic_3 { left: 50px; } }
@media only screen and (max-width: 980px) { .slider .slider__pic_3 { top: 55px; left: 0; } }
.slider .slider__pic_4 { bottom: 0; right: 0; }
@media only screen and (max-width: 1760px) { .slider .slider__pic_4 { right: 50px; } }
@media only screen and (max-width: 980px) { .slider .slider__pic_4 { right: 0; } }

.partners { margin-bottom: 180px; }
@media only screen and (max-width: 980px) { .partners { margin-bottom: 45px; } }
.partners .partners__title { position: relative; padding-bottom: 15px; margin-bottom: 70px; text-align: center; font-size: 36px; line-height: 1; text-transform: uppercase; }
@media only screen and (max-width: 1760px) { .partners .partners__title { margin-bottom: 40px; padding-bottom: 10px; font-size: 26px; } }
@media only screen and (max-width: 980px) { .partners .partners__title { font-size: 22px; } }
.partners .partners__title:after { content: ""; position: absolute; bottom: 0; left: 50%; width: 115px; height: 3px; margin-left: -57px; background: #e31e24; }
.partners .partners__list { font-size: 0; border: 1px solid #a0a0a0; }
@media only screen and (max-width: 980px) { .partners .partners__list { border-width: 1px 0 0 1px; } }
.partners .partners__list li { display: inline-block; width: 16.6%; height: 194px; padding: 10px; border-left: 1px solid #a0a0a0; box-sizing: border-box; vertical-align: top; text-align: center; font-size: 0; }
.partners .partners__list li:before { content: ""; display: inline-block; vertical-align: middle; width: 0; height: 100%; }
@media only screen and (max-width: 1760px) { .partners .partners__list li { height: 104px; } }
@media only screen and (max-width: 980px) { .partners .partners__list li { width: 50%; height: 100px; border: 1px solid #a0a0a0; border-width: 0 1px 1px 0; } }
.partners .partners__list li:first-child { width: 17%; border: none; }
@media only screen and (max-width: 980px) { .partners .partners__list li:first-child { width: 50%; border: 1px solid #a0a0a0; border-width: 0 1px 1px 0; } }
.partners .partners__list li img { max-width: 100%; max-height: 100%; vertical-align: middle; }

.footer { position: relative; height: 300px; background: #101010; }
@media only screen and (max-width: 980px) { .footer { height: 250px; } }
.footer .footer__in { min-height: 185px; padding-top: 65px; *zoom: 1; }
.footer .footer__in:after { content: " "; display: table; clear: both; }
@media only screen and (max-width: 980px) { .footer .footer__in { min-height: 174px; padding-top: 25px; } }
.footer .footer__left { float: left; }
.footer .footer__phone, .footer .footer__mail { color: #c5c5c5; }
.footer .footer__phone { margin-bottom: 5px; }
.footer .footer__mail { margin-bottom: 20px; }
.footer .footer__mail a { color: #c5c5c5; }
.footer .footer__down { height: 49px; border-top: 1px solid #3f3f3f; }
.footer .footer__down .l-center { position: relative; *zoom: 1; }
.footer .footer__down .l-center:after { content: " "; display: table; clear: both; }
.footer .footer__copyright { float: left; margin-top: 14px; font-size: 18px; color: #b1b1b1; }
@media only screen and (max-width: 980px) { .footer .footer__copyright span { display: none; } }
.footer .footer__created { float: right; margin-top: 9px; font-size: 0; }
.footer .footer__created span, .footer .footer__created a { display: inline-block; vertical-align: middle; }
.footer .footer__created span { margin-right: 15px; font-size: 18px; color: #b1b1b1; }
@media only screen and (max-width: 980px) { .footer .footer__created span { font-size: 12px; } }
.footer .footer__created a { background: url('../img/icons-s486f9a8783.png') 0 0 no-repeat; width: 115px; height: 32px; }
@media only screen and (max-width: 980px) { .footer .footer__created { position: absolute; bottom: 60px; left: 15px; } }
.footer .nav { margin: 0; }
@media only screen and (max-width: 980px) { .footer .nav { display: none; } }

.social { font-size: 0; }
.social a { display: inline-block; margin-left: 5px; vertical-align: top; }
.social a:first-child { margin: 0; }
.social .social__fb { background: url('../img/icons-s486f9a8783.png') 0 -483px no-repeat; width: 29px; height: 29px; }
.social .social__gp { background: url('../img/icons-s486f9a8783.png') 0 -385px no-repeat; width: 29px; height: 29px; }
.social .social__tw { background: url('../img/icons-s486f9a8783.png') 0 -424px no-repeat; width: 29px; height: 29px; }

.breadcrumbs { margin-bottom: 100px; font-size: 0; }
@media only screen and (max-width: 980px) { .breadcrumbs { margin-bottom: 25px; } }
.breadcrumbs li { position: relative; display: inline; padding-left: 20px; font-size: 16px; color: #262626; }
@media only screen and (max-width: 980px) { .breadcrumbs li { font-size: 14px; } }
.breadcrumbs li:before { content: ""; position: absolute; top: 6px; left: 8px; background: url('../img/icons-s486f9a8783.png') 0 -551px no-repeat; width: 5px; height: 9px; }
.breadcrumbs li:first-child { padding: 0; }
.breadcrumbs li:first-child:before { display: none; }
.breadcrumbs a { color: #262626; text-decoration: underline; }

.title { max-width: 1020px; margin: 0 auto 45px; text-align: center; }
.title.title_full { max-width: 100%; }
@media only screen and (max-width: 980px) { .title { margin: 0 auto 15px; } }
.title .title__in { position: relative; padding-bottom: 15px; border-bottom: 1px solid #a0a0a0; text-align: center; font-size: 30px; line-height: 1.1; }
@media only screen and (max-width: 980px) { .title .title__in { padding-bottom: 10px; font-size: 18px; } }
.title .title__in:after { content: ""; position: absolute; bottom: -2px; left: 50%; width: 290px; height: 3px; margin-left: -145px; background: #e31e24; }
@media only screen and (max-width: 980px) { .title .title__in:after { width: 160px; margin-left: -80px; } }
.title .title__text { max-width: 1070px; margin: 0 auto; padding: 20px 0 0 0; font-size: 20px; }
.title .title__text p { margin-bottom: 20px; }

.dev { position: relative; }
.dev.dev_detail { position: relative; border: 1px solid #a0a0a0; background: white; }
.dev.dev_detail .dev__close { position: absolute; top: 15px; right: 15px; background: url('../img/icons-s486f9a8783.png') 0 -72px no-repeat; width: 33px; height: 33px; z-index: 4; }
.dev.dev_detail .dev__info { margin: 0; }
.dev.dev_detail .dev__info .dev__item { margin: 0; }
.dev.dev_detail .dev__info .dev__in { padding: 0 60px 0 0; border: none; }
.dev.dev_detail .dev__info .dev__title:before { top: 45px; }
.dev.dev_detail .dev__el { display: none; }
.dev .dev__list { margin-bottom: 150px; overflow: hidden; }
@media only screen and (max-width: 1760px) { .dev .dev__list { margin-bottom: 65px; } }
@media only screen and (max-width: 980px) { .dev .dev__list { margin-bottom: 15px; } }
.dev .dev__list-in { margin-right: -20px; overflow: hidden; }
@media only screen and (max-width: 980px) { .dev .dev__list-in { margin: 0; border: 1px solid #a0a0a0; border-width: 1px 0 0 1px; } }
.dev .dev__list-in .dev__item { float: left; width: 444px; height: 228px; margin: 0 10px 10px 0; border: 1px solid #a0a0a0; }
@media only screen and (max-width: 1760px) { .dev .dev__list-in .dev__item { margin: 0 5px 5px 0; } }
@media only screen and (max-width: 980px) { .dev .dev__list-in .dev__item { width: 143px; height: auto; margin: 0; border-width: 0 1px 1px 0; }
  .dev .dev__list-in .dev__item:nth-child(2n) { width: 144px; } }
.dev .dev__list-in .dev__pic { float: left; font-size: 0; }
@media only screen and (max-width: 980px) { .dev .dev__list-in .dev__pic { display: none; } }
.dev .dev__list-in .dev__type { position: relative; padding: 70px 25px 0; font-size: 18px; color: #262626; overflow: hidden; }
@media only screen and (max-width: 980px) { .dev .dev__list-in .dev__type { display: table-cell; width: 143px; height: 90px; padding: 0 7px; vertical-align: middle; font-size: 12px; } }
.dev .dev__list-in .dev__type:before { content: ""; position: absolute; top: 40px; left: 25px; width: 70px; height: 2px; background: #e31e24; }
@media only screen and (max-width: 980px) { .dev .dev__list-in .dev__type:before { display: none; } }
.dev .dev__info { margin-bottom: 70px; }
.dev .dev__info .dev__item { margin-bottom: 85px; }
@media only screen and (max-width: 1760px) { .dev .dev__info .dev__item { margin-bottom: 40px; } }
@media only screen and (max-width: 980px) { .dev .dev__info .dev__item { margin-bottom: 20px; } }
.dev .dev__info .dev__pic, .dev .dev__info .dev__in { display: table-cell; vertical-align: top; }
@media only screen and (max-width: 980px) { .dev .dev__info .dev__pic, .dev .dev__info .dev__in { display: block; } }
.dev .dev__info .dev__pic { width: 446px; padding-right: 60px; font-size: 0; }
@media only screen and (max-width: 1760px) { .dev .dev__info .dev__pic { width: 355px; padding-right: 45px; } }
@media only screen and (max-width: 980px) { .dev .dev__info .dev__pic { float: left; width: 115px; padding: 0; margin: 0 10px 10px -15px; } }
.dev .dev__info .dev__in { padding-bottom: 40px; border-bottom: 1px solid #a0a0a0; }
@media only screen and (max-width: 980px) { .dev .dev__info .dev__in { padding: 0; border: none; } }
.dev .dev__info .dev__title { position: relative; padding-top: 75px; margin-bottom: 30px; font-size: 24px; }
@media only screen and (max-width: 1760px) { .dev .dev__info .dev__title { padding-top: 60px; } }
@media only screen and (max-width: 980px) { .dev .dev__info .dev__title { min-height: 95px; padding-top: 20px; margin-bottom: 10px; font-size: 16px; } }
.dev .dev__info .dev__title:before { content: ""; position: absolute; top: 27px; left: 0; width: 70px; height: 2px; background: #e31e24; }
@media only screen and (max-width: 980px) { .dev .dev__info .dev__title:before { top: 0; left: 110px; right: 0; width: auto; } }
.dev .dev__info .dev__content { font-size: 18px; line-height: 1.3; }
@media only screen and (max-width: 980px) { .dev .dev__info .dev__content { font-size: 16px; } }
.dev .dev__info .dev__content p, .dev .dev__info .dev__content ul { margin-bottom: 10px; }
.dev .dev__info .dev__content ul li { position: relative; padding-left: 30px; }
.dev .dev__info .dev__content ul li:before { content: ""; position: absolute; top: 6px; left: 0; background: url('../img/icons-s486f9a8783.png') 0 -463px no-repeat; width: 12px; height: 10px; }

.team { margin-bottom: 150px; }
@media only screen and (max-width: 1760px) { .team { margin-bottom: 100px; } }
@media only screen and (max-width: 980px) { .team { margin-bottom: 50px; } }
.team .team__title { position: relative; margin-bottom: 30px; font-size: 30px; text-align: center; }
@media only screen and (max-width: 980px) { .team .team__title { padding-bottom: 10px; border-bottom: 1px solid #a0a0a0; font-size: 22px; }
  .team .team__title:after { content: ""; position: absolute; bottom: -2px; left: 50%; width: 290px; height: 3px; margin-left: -145px; background: #e31e24; } }
@media only screen and (max-width: 980px) and (max-width: 980px) { .team .team__title:after { width: 160px; margin-left: -80px; } }
.team .team__list { font-size: 0; overflow: hidden; }
.team .team__list-in { margin-right: -20px; overflow: hidden; }
.team .team__item { float: left; width: 330px; margin: 0 15px 45px 0; }
@media only screen and (max-width: 1760px) { .team .team__item { width: 217px; margin: 0 10px 35px 0; } }
@media only screen and (max-width: 980px) { .team .team__item { width: 100%; margin: 0 0 25px; } }
.team .team__btn { position: absolute; top: 14px; right: 11px; background: url('../img/icons-s486f9a8783.png') 0 -570px no-repeat; width: 14px; height: 10px; z-index: 4; }
.team .team__btn.is-active { background: url('../img/icons-s486f9a8783.png') 0 -590px no-repeat; width: 14px; height: 10px; }
.team .team__info { display: none; position: absolute; top: 0; left: 0; right: 0; bottom: 0; padding-top: 10px; border-left: 70px solid #e31e24; background: black; background: rgba(0, 0, 0, 0.75); }
@media only screen and (max-width: 1760px) { .team .team__info { border-width: 42px; } }
.team .team__info li { margin-left: -70px; }
@media only screen and (max-width: 1760px) { .team .team__info li { margin-left: -42px; } }
.team .team__in { position: relative; margin-bottom: 20px; }
@media only screen and (max-width: 980px) { .team .team__in { display: none; } }
.team .team__pic { position: relative; width: 330px; height: 200px; overflow: hidden; }
@media only screen and (max-width: 1760px) { .team .team__pic { width: 217px; height: 180px; } }
.team .team__pic-in { position: absolute; top: 0; left: 50%; bottom: 0; width: 400px; margin-left: -200px; text-align: center; }
.team .team__pic-in img { max-width: 100%; max-height: 100%; }
.team .team__content, .team .team__ico { display: table-cell; height: 60px; vertical-align: middle; }
@media only screen and (max-width: 1760px) { .team .team__content, .team .team__ico { height: 50px; } }
.team .team__content { padding-left: 15px; font-size: 16px; color: white; }
@media only screen and (max-width: 1760px) { .team .team__content { font-size: 14px; } }
.team .team__content a { color: white; }
.team .team__ico { width: 70px; text-align: center; }
@media only screen and (max-width: 1760px) { .team .team__ico { width: 42px; } }
.team .team__ico i { display: inline-block; vertical-align: middle; }
.team .team__ico-phone { background: url('../img/icons-s486f9a8783.png') 0 -349px no-repeat; width: 26px; height: 26px; }
.team .team__ico-mail { background: url('../img/icons-s486f9a8783.png') 0 -197px no-repeat; width: 26px; height: 27px; }
.team .team__ico-map { background: url('../img/icons-s486f9a8783.png') 0 -234px no-repeat; width: 21px; height: 32px; }
.team .team__name { font-size: 20px; }
@media only screen and (max-width: 980px) { .team .team__name { font-size: 18px; } }
.team .team__position { font-size: 16px; }
@media only screen and (max-width: 980px) { .team .team__position { font-size: 14px; } }
.team .team__contacts { display: none; margin-top: 10px; padding: 10px 0; background: #e6e5e5; }
@media only screen and (max-width: 980px) { .team .team__contacts { display: block; } }
.team .team__contacts .team__content, .team .team__contacts .team__ico { height: 40px; }
.team .team__contacts .team__ico { width: 60px; }
.team .team__contacts .team__content { color: #262626; }
.team .team__contacts .team__content a { color: #262626; }
.team .team__contacts .team__ico-phone { background: url('../img/icons-s486f9a8783.png') 0 -314px no-repeat; width: 24px; height: 25px; }
.team .team__contacts .team__ico-mail { background: url('../img/icons-s486f9a8783.png') 0 -115px no-repeat; width: 25px; height: 27px; }

.threed { position: relative; width: 1360px; height: 500px; margin-bottom: 300px; -webkit-perspective: 1000; -moz-perspective: 1000; -ms-perspective: 1000; -o-perspective: 1000; perspective: 1000; font-size: 14px; }
.threed.is-open .threed__in { -webkit-transform: translateZ(-680px) rotateY(-90deg); -moz-transform: translateZ(-680px) rotateY(-90deg); -ms-transform: translateZ(-680px) rotateY(-90deg); -o-transform: translateZ(-680px) rotateY(-90deg); transform: translateZ(-680px) rotateY(-90deg); }
.threed .threed__in { position: absolute; width: 1360px; height: 500px; -webkit-transform-style: preserve-3d; -moz-transform-style: preserve-3d; -ms-transform-style: preserve-3d; -o-transform-style: preserve-3d; transform-style: preserve-3d; -webkit-transform: translateZ(-680px); -moz-transform: translateZ(-680px); -ms-transform: translateZ(-680px); -o-transform: translateZ(-680px); transform: translateZ(-680px); -webkit-transition: -webkit-transform 1s; -moz-transition: -moz-transform 1s; -o-transition: -o-transform 1s; transition: transform 1s; }
.threed .threed__item { position: absolute; width: 1360px; height: 500px; background: white; -webkit-backface-visibility: hidden; -moz-backface-visibility: hidden; -ms-backface-visibility: hidden; -o-backface-visibility: hidden; backface-visibility: hidden; }
.threed .threed__item_front { -webkit-transform: translateZ(680px); -moz-transform: translateZ(680px); -ms-transform: translateZ(680px); -o-transform: translateZ(680px); transform: translateZ(680px); }
.threed .threed__item_right { -webkit-transform: rotateY(90deg) translateZ(680px); -moz-transform: rotateY(90deg) translateZ(680px); -ms-transform: rotateY(90deg) translateZ(680px); -o-transform: rotateY(90deg) translateZ(680px); transform: rotateY(90deg) translateZ(680px); }
