// # SHORT HOWTO
// ## Sprites
//     .whatever
//          +sized-sprite($icons, coderiver) //or
// 			+s(codedby) //gets default value for spritemap as $icons
// ### animation example
//     +include keyframes(rotate)
//        from
//           +rotate(0)
//        to
//           +rotate(360)
// ## animation usage
//     body:hover
// 	    +animation(rotate 200s linear infinite)
// ## animations easing, see easings.net for full list and examples, tnx @ai
//     transition: all 1.2s ceaser($ease-in)
// ## gradient example
//     +background-image(linear-gradient(#232323, #5c5c5c));
//     +g(#232323, #5c5c5c);
//	   horizontal
//     +gh(#232323, #5c5c5c);
// ## making bw-images
//     img
//			@extend %gray
// ## predefined media-queries: https://github.com/paranoida/sass-mediaqueries
//     +r(980)in-screen(320)
//			display: none
// +r(980)ax-screen(1000), +iphone5, +iphone4, +ipad-retina, +ipad, +hdpi - also available
//
// ## use cycles
//     @for $i from 1 through 3
//       .item-#{$i}
//			width: 2em * $i;
//     @each $s in a,b,c
// 	    	#{$s}
//				display: none
// ## fonts 
// Save fonts to /css/fonts, after that write (eot, woff, ttf):
// +font(book, cytiapro-black-webfont)  
// =book
// 	font-family: "book", Arial, sans-serif 
// insert pics into css
// div
// 	+r(1366)ic("blabla.png")
// span
// 	+r(1366)ng(blabla)
// p
// 	+jpg(bla)

+font(Lato Regular, lato-regular)  
=f
	font-family: "Lato Regular", Arial, sans-serif 

$red: #e31e24

=header_fixed
	@media only screen and (min-width: "980px")
		@content

html
	&.ie8
		min-width: 980px 
		overflow: auto !important
		.sl
			display: none
		&.lt-1680
			.l-center
				padding: 0 15px
			.header
				.phone
					margin: 93px 0 0 10px
			.main__logo
				left: 15px
			.main__serv
				width: 80%
			.main__serv-title
				span
					font-size: 16px
			.phone
				.phone__in	
					font-size: 20px
			.nav__list
				width: 120px
				&:first-child
					width: auto
			.nav__list-in
				.l-center
					padding: 0
			.slider
				.slider__prev
					left: -50px
				.slider__next
					right: -50px
			.dev
				.dev__list
					margin-bottom: 65px
				.dev__list-in
					margin: 0
					text-align: center
					.dev__item
						margin: 0 5px 10px
						text-align: left
			.press
				.press__info
					left: 500px
		&.lt-1440
			.footer
				.nav
					display: none
			.slider
				.slider__nav-in
					a
						font-size: 16px
				.slider__center
					margin: 0 50px 
				.slider__about
					font-size: 24px
				.slider__prev
					left: -30px
				.slider__next
					right: -30px
				.slider__item-in
					height: 430px
				.slider__pic-in
					width: 172px
					height: 172px
					&:after
						width: 116px
						height: 116px
						margin: -63px 0 0 -63px
				.slider__pic_big
					.slider__pic-in
						width: 334px
						height: 334px
						&:after
							width: 224px
							height: 224px
							margin: -117px 0 0 -117px 
				.slider__text
					position: absolute
					font-size: 20px
					span
						display: inline-block
						font-size: 90px 
						vertical-align: top
						line-height: 0.9
						letter-spacing: -2px 
				.slider__text_1
					top: 20px
					left: 30px
				.slider__text_2
					left: 270px
				.slider__text_3
					top: 30px
				.slider__text_4
					right: 220px
				.slider__pic_1
					right: 30px
				.slider__pic_2
					left: 30px
				.slider__pic_3
					left: 30px
				.slider__pic_4
					right: 30px
			.partners
				.partners__title
					margin-bottom: 40px
					padding-bottom: 10px
					font-size: 26px
				.partners__list
					li
						height: 104px
			.breadcrumbs
				margin-bottom: 50px
			.title
				&.title_logistic
					margin-bottom: 40px
				.title__in
					font-size: 24px
				.title__text
					font-size: 18px
			.inner
				margin-bottom: 100px
			.about
				.about__pic
					margin: 0 30px 30px 0 
				.about__in
					display: block
			.mission
				.mission__cell
					display: block
					&:first-child
						width: auto
			.quality
				.quality__left
					float: none
					margin: 0 0 50px
					text-align: center
			.press
				.press__item
					margin-bottom: 50px
				.press__info
					left: 350px

	&.no-desktop
		.main, .slider, .partners, .footer
			position: relative
			top: auto
			left: auto
			right: auto
			bottom: auto
		.main
			min-height: 900px
		.slider, .partners
			padding: 15px

body
	min-width: 320px
	+f
	font-size: 20px
	line-height: 1.2
	color: #333
	&.main-page
		font-size: 20px !important
button, input, textarea
	+f
a
	text-decoration: none
	color: $red 
h1, h2, h3, h4, h5, h6
	font-weight: 400 

// common blocks
.wrapper
	min-height: 100%
	margin-bottom: -300px
	+r(980)
		margin-bottom: -250px

.push
	height: 300px
	+r(980)
		height: 250px
		
.fullpage
	.section
		position: relative
		overflow: hidden
	.footer
		position: absolute
		left: 0
		right: 0
		bottom: 0

.l-center
	max-width: 1700px
	margin: 0 auto
	padding: 0 30px
	+r(1366)
		padding: 0 15px
	&.l-center_small
		max-width: 1360px
  
.header
	position: relative
	min-height: 55px
	margin-bottom: 40px
	z-index: 199 
	+r(980)
		min-height: 0
		margin-bottom: 20px
	&.is-fixed
		+header_fixed
			.header__wrap
				position: fixed
				top: 0
				left: 0 
				width: 100%
				height: 55px
				+gpu
			.header__wrap-inz
				position: relative
				z-index: 4 
			.header__logo-big
				display: none
			.header__logo-sticker
				display: block
			.nav
				padding: 0
				overflow: visible
			.nav__group
				&:hover
					.nav__under
						height: 45px
						visibility: visible
			.nav__under
				position: absolute
				top: 55px
				left: 0
				right: 0
				height: 0
				background: #FFF 
				border-top: 1px solid #fff
				border-bottom: 1px solid #101010 
				box-shadow: 0 2px 0 #101010 inset
				visibility: hidden
				+tr(height .2s)
				z-index: 2  
			.nav__list
				position: static
				width: auto
				height: 55px
				min-height: 0
				padding: 0 15px
				margin: 0
				&:nth-child(2)
					width: auto
				&:after
					display: none
				&:hover
					.nav__list-in
						opacity: 1
						visibility: visible 
			.nav__list-in
				position: absolute
				top: 55px
				left: 0
				right: 0
				text-align: right
				line-height: 45px
				opacity: 0
				visibility: hidden
				+tr(opacity .2s) 
				+transition-delay(.2s)
				z-index: 10 
				li
					display: inline-block
					margin-right: 15px
					&:first-child
						margin-right: 15px
				a
					color: #333 
			.nav__list-title
				position: relative
				margin: 0
				text-transform: none
				>a
					display: block
					height: 55px
					line-height: 55px
				&.is-dropdown
					padding-right: 15px
					&:after
						content: ""
						position: absolute
						top: 50%
						right: 0
						margin-top: -2px
						+s(nav-dropdown)
			.phone
				margin: 10px 0 0 50px
	.header__wrap
		background: #101010 
	.header__in
		+clr
		+r(980)
			position: relative
	.header__logo
		float: left
		font-size: 0
	.header__logo-sticker
		+s(logo-sticker)
	.phone
		margin: 100px 0 0 75px 
		+r(1366)
			margin: 93px 0 0 10px
		+r(980)
			top: 39px
			left: 63px
			margin: 0 
	.nav-btn
		top: 10px
	.nav
		margin: 0
		padding-top: 20px
		+header_fixed
			display: block !important
		+r(980)
			display: none
			position: absolute
			top: 0
			right: -15px
			width: 210px
			margin: 0
			padding: 20px 15px 50px 20px
			background: #101010 
			z-index: 2  
		.nav__list
			+r(980)
				float: none
				width: 100%
				padding: 0
				margin-bottom: 10px
				border: none
			li
				&.is-active
					a
						position: relative
						color: #656363 
				+r(980)
					margin-left: 25px
					padding: 5px 0 5px 10px
					border-left: 1px solid $red
					&:first-child
						margin-left: 25px
					a
						font-size: 18px

.main
	position: absolute
	top: 0
	left: 0
	right: 0
	bottom: 0
	background: url(../img/bg-main.jpg) 50% 50%
	background-size: cover  
	.main__center
		position: absolute
		top: 0
		left: 0
		right: 0
		bottom: 0
		padding-top: 100px
		z-index: 2
		+vertical
		+r(980)
			padding-top: 50px
	.main__center-in
		display: inline-block
		width: 100%
		vertical-align: middle
		.l-center
			position: relative
			+clr
	.main__logo
		position: absolute
		top: 0
		left: 30px
		bottom: 0
		width: 220px
		font-size: 0
		text-align: left
		z-index: 2 
		+r(1366)
			left: 15px
		+r(980)
			position: relative
			display: inline-block
			left: auto
			bottom: auto
			width: auto
			height: 220px
			margin-right: 65px
			vertical-align: top
		+r(580)
			margin-right: 40px
		+r(460)	
			display: none
		img
			max-width: 100%
			max-height: 100%
			height: 100%
	.main__serv
		position: relative
		float: right
		width: 75%
		text-align: right
		font-size: 0
		z-index: 4 
		+r(1366)
			width: 80%
		+r(980)
			float: none
			display: inline-block
			width: 234px
			margin: 0 auto
			vertical-align: top
	.main__serv-item
		display: inline-block
		width: 31%
		margin-left: 2%
		background: #fff
		vertical-align: top
		+r(980)
			width: 100%
			margin: 0 0 10px
	.main__serv-pic
		position: relative
		img
			display: block
			width: 100%
			max-width: 100%
		&:after
			content: ""
			position: absolute
			left: 0
			right: 0
			bottom: 0
			height: 1px
			background: rgba(0,0,0,.15)
	.main__serv-title
		height: 70px
		padding: 0 20px
		text-transform: uppercase
		color: #333
		+vertical
		+r(980)
			height: 50px
		span
			display: inline-block
			vertical-align: middle
			font-size: 18px
			+r(1366)
				font-size: 16px
	.l-center
		max-width: 1520px
	.header
		&.is-fixed
			.header__wrap
				background: #101010 
			.phone
				margin: 10px 0 0 50px
				+r(980)
					margin: 0
			.nav
				padding-top: 0
		.header__wrap
			background: none
		.header__logo
			display: none
			+r(460)
				display: block
				margin-top: 10px
		.phone
			margin: 60px 0 0 0 
			+r(980)
				margin: 0
				right: auto
				left: 25px
			+r(460)
				left: auto
				right: 15px 
		.nav
			padding-top: 65px
		.nav-btn
			top: 40px	
			+r(460)
				top: 10px

.phone
	float: left
	font-size: 0
	+r(980)
		float: none
		position: absolute
		top: 61px
		right: 15px
	.phone__in,	
	.phone__ico
		display: inline-block
		vertical-align: middle	
	.phone__in	
		margin-right: 15px
		font-size: 22px
		color: #C5C5C5 
		+r(1366)
			font-size: 20px
		+r(980)
			margin-right: 15px
			font-size: 18px
	.phone__ico
		+s(marker)
		+r(980)
			+s(marker-s)

.nav-line
	position: absolute
	top: 0
	left: 0
	width: 0
	height: 6px
	background: $red 
	+transition(width .4s, left .4s)
	+r(980)
		display: none
	
.nav-btn
	display: none
	position: absolute
	top: 18px
	right: 15px
	+s(menu-ico)
	z-index: 4 
	+r(980)
		display: block

.nav
	float: right
	color: #c5c5c5
	overflow: hidden
	.nav__group
		float: left
	.nav__list
		position: relative
		float: left
		min-height: 100px
		padding: 0 15px 5px
		vertical-align: top 
		&:nth-child(2)
			width: 120px
		+r(1366)
			width: 120px
			&:first-child, &:last-child
				width: auto
			&:last-child
				padding: 0 0 0 15px
		+r(980)
			min-height: 0 
		li
			margin-top: 5px
			line-height: 0.9
			+r(980)
				margin: 0
			&:first-child
				margin: 0
		&:after
			content: ""
			position: absolute
			top: 0
			left: 0
			width: 1px
			height: 200px
			background: #5f5f5f 
			+r(980)
				display: none
		&:first-child
			&:after
				display: none
		a
			color: #c5c5c5
	.nav__list-in
		a
			font-size: 16px
		.l-center
			padding: 0
	.nav__list-title
		margin-bottom: 5px
		text-transform: uppercase
		font-size: 20px
		+r(1366)
			font-size: 18px

.slider
	position: absolute
	top: 55px
	left: 0
	right: 0
	bottom: 0
	+vertical
	.slider__vertical
		display: inline-block
		width: 100%
		vertical-align: middle
	.slider__nav
		margin-bottom: 45px
		text-align: center
		+r(980)
			margin-bottom: 20px
	.slider__nav-in
		display: inline-block
		padding: 0 15px 7px
		border-bottom: 1px solid #a0a0a0 
		font-size: 0
		+r(980)
			padding: 0 0 8px
		a
			position: relative
			display: inline-block
			font-size: 18px
			color: #9E9E9E 
			+r(1366)
				font-size: 16px
			+r(480)
				font-size: 14px
			&:first-child
				margin-right: 30px
				+r(480)
					margin-right: 5px
			&.is-active
				color: #404040
				cursor: default 
				&:after
					content: ""
					position: absolute
					bottom: -10px
					left: 50%
					height: 3px
					width: 68px
					margin-left: -34px
					background: $red 
	.slider__center
		position: relative
		max-width: 1210px
		margin: 0 auto
		+r(1366)
			margin: 0 50px 
		+r(980)
			margin: 0 70px 15px
		+r(880)
			margin: 0 50px 15px
		+r(760)
			margin: 0 15px
	.slider__in
		margin-bottom: 15px
		padding-bottom: 60px
		border-bottom: 2px solid #a0a0a0
		text-align: left
		+r(980)	
			padding-bottom: 40px
			margin-bottom: 10px 
	.slider__about
		font-size: 30px
		text-align: center
		+r(1366)
			font-size: 24px
		+r(980)
			font-size: 16px
	.slider__list
		position: relative
	.slider__prev, .slider__next
		position: absolute
		top: 50%
		margin-top: -78px
		background: none
		font-size: 0 
		+r(760)
			display: none
	.slider__prev
		left: -100px
		+r(1760)
			left: -70px
		+r(1366)
			left: -60px
		+r(880)
			left: -45px
	.slider__next
		right: -100px
		+r(1760)
			right: -70px
		+r(1366)
			right: -60px
		+r(880)
			right: -45px
	.slider__item
		width: 100%
	.slider__item-in
		position: relative
		width: 100%
		height: 600px
		+r(1366)
			height: 430px
		+r(980)
			height: 400px
		+r(580)
	.slider__pic
		position: absolute
	.slider__pic-in
		width: 270px
		height: 270px
		border-radius: 50%
		background: #FFF 
		border: 2px solid $red 
		+vertical
		+r(1366)
			width: 172px
			height: 172px
		+r(760)
			width: 130px
			height: 130px
		&:after
			content: ""
			position: absolute
			top: 50%
			left: 50%
			width: 184px
			height: 184px
			margin: -97px 0 0 -97px
			border-radius: 50% 
			border: 5px solid #404040
			z-index: 2
			+r(1366)
				width: 116px
				height: 116px
				margin: -63px 0 0 -63px
			+r(760)
				width: 88px
				height: 88px
				margin: -49px 0 0 -49px
		img
			position: relative
			vertical-align: middle
			z-index: 4 
	.slider__pic_big
		.slider__pic-in
			width: 530px
			height: 530px
			+r(1366)
				width: 334px
				height: 334px
			+r(760)
				width: 250px
				height: 250px
			&:after
				width: 360px
				height: 360px
				margin: -185px 0 0 -185px
				+r(1366)
					width: 224px
					height: 224px
					margin: -117px 0 0 -117px 
				+r(760)
					width: 170px
					height: 170px
					margin: -90px 0 0 -90px
	.slider__text
		position: absolute
		font-size: 30px
		+r(1180)
			font-size: 26px
		+r(1100)
			font-size: 23px
		+r(880)
			font-size: 18px
		+r(790)
			font-size: 16px
		+r(580)
			font-size: 14px
		span
			display: inline-block
			font-size: 120px 
			vertical-align: top
			line-height: 0.9
			letter-spacing: -2px 
			+r(1180)
				font-size: 96px
			+r(1100)
				font-size: 70px
			+r(880)
				font-size: 60px
			+r(790)
				font-size: 50px
			+r(580)
				font-size: 46px 
	.slider__text_1
		top: 80px
		left: 10px
		+r(1366)
			top: 20px
			left: 50px
		+r(980)
			top: 30px
			left: 0
		+r(580)
			top: 0
	.slider__text_2
		bottom: 0
		left: 350px
		+r(1366)
			left: 270px
		+r(980)
			left: 190px
		+r(580)
			left: 140px
	.slider__text_3
		top: 100px
		right: 10px
		+r(1366)
			top: 30px
		+r(980)
			top: 40px
			right: 0
		+r(580)
			top: 0
			right: 0
			left: auto
		+r(470)
			right: auto
			left: 0
	.slider__text_4
		bottom: 0
		right: 280px
		+r(1180)
			right: 250px
		+r(980)
			right: 185px
		+r(960)
			font-size: 18px
		+r(880)
			right: 180px
			font-size: 14px
		+r(580)
			right: 130px
			left: 0
			bottom: -10px
		i
			font-style: normal
			+r(580)
				display: inline-block
				width: 70px
	.slider__pic_1
		top: 0
		right: 0
		+r(1366)
			right: 50px
		+r(980)
			top: 30px
			right: 0
		+r(580)
			top: 75px
	.slider__pic_2
		bottom: 0
		left: 0
		+r(1366)
			left: 50px
		+r(980)
			left: 0
	.slider__pic_3
		top: 0
		left: 0
		+r(1366)
			left: 50px
		+r(980)
			top: 30px
			left: 0
		+r(580)
			top: 58px
	.slider__pic_4
		bottom: 0
		right: 0
		+r(1366)
			right: 50px
		+r(980)
			right: 0

.partners
	position: absolute
	top: 55px
	left: 0
	right: 0
	bottom: 300px
	+vertical
	+r(980)
		top: 0
		bottom: 250px
	.partners__in
		display: inline-block
		width: 100%
		vertical-align: middle
	.partners__title
		position: relative
		padding-bottom: 15px
		margin-bottom: 70px
		text-align: center
		font-size: 36px
		line-height: 1
		text-transform: uppercase
		+r(1366)
			margin-bottom: 40px
			padding-bottom: 10px
			font-size: 26px
		+r(980)
			font-size: 22px
		&:after
			content: ""
			position: absolute
			bottom: 0
			left: 50%
			width: 115px
			height: 3px
			margin-left: -57px
			background: $red 
	.partners__list
		font-size: 0
		border: 1px solid #a0a0a0
		+r(980)
			border-width: 1px 0 0 1px
		li
			display: inline-block
			width: 16.6% 
			height: 194px
			padding: 10px 
			border-left: 1px solid #a0a0a0 
			box-sizing: border-box
			vertical-align: top
			+vertical
			+r(1366)
				height: 104px
			+r(980)
				width: 33.33%
				border: 1px solid #a0a0a0 
				border-width: 0 1px 1px 0
			+r(760)
				width: 50%
				height: 100px
			&:first-child
				width: 17%
				border: none
				+r(980)
					width: 33.33%
					border: 1px solid #a0a0a0 
					border-width: 0 1px 1px 0
				+r(760)
					width: 50%
			img
				max-width: 100%
				max-height: 100%
				vertical-align: middle

.footer
	position: relative
	height: 300px
	background: #101010 
	+r(760)
		height: 250px
	.footer__in
		min-height: 185px
		padding-top: 65px
		+clr
		+r(760)
			min-height: 174px
			padding-top: 25px
	.footer__left
		float: left
	.footer__phone, .footer__mail
		color: #C5C5C5
	.footer__phone
		margin-bottom: 5px
	.footer__mail
		margin-bottom: 20px
		a
			color: #C5C5C5 
	.footer__down
		height: 49px
		border-top: 1px solid #3f3f3f 
		.l-center
			position: relative
			+clr
	.footer__copyright
		float: left
		margin-top: 14px
		font-size: 18px
		color: #B1B1B1 
		span
			+r(760)
				display: none
	.footer__created
		float: right
		margin-top: 9px
		font-size: 0
		span, a
			display: inline-block
			vertical-align: middle
		span
			margin-right: 15px
			font-size: 18px
			color: #B1B1B1 
			+r(760)
				font-size: 12px 
		a
			+s(mediahero)
		+r(760)
			position: absolute
			bottom: 60px
			left: 15px
	.nav
		+r(980)
			display: none

.social
	font-size: 0
	a
		display: inline-block
		margin-left: 5px
		vertical-align: top
		&:first-child
			margin: 0
	.social__fb
		+s(fb)
	.social__gp
		+s(gp)
	.social__tw
		+s(tw)

































































































