// # SHORT HOWTO
// ## Sprites
//     .whatever
//          +sized-sprite($icons, coderiver) //or
// 			+s(codedby) //gets default value for spritemap as $icons
// ### animation example
//     +include keyframes(rotate)
//        from
//           +rotate(0)
//        to
//           +rotate(360)
// ## animation usage
//     body:hover
// 	    +animation(rotate 200s linear infinite)
// ## animations easing, see easings.net for full list and examples, tnx @ai
//     transition: all 1.2s ceaser($ease-in)
// ## gradient example
//     +background-image(linear-gradient(#232323, #5c5c5c));
//     +g(#232323, #5c5c5c);
//	   horizontal
//     +gh(#232323, #5c5c5c);
// ## making bw-images
//     img
//			@extend %gray
// ## predefined media-queries: https://github.com/paranoida/sass-mediaqueries
//     +min-screen(320)
//			display: none
// +max-screen(1000), +iphone5, +iphone4, +ipad-retina, +ipad, +hdpi - also available
//
// ## use cycles
//     @for $i from 1 through 3
//       .item-#{$i}
//			width: 2em * $i;
//     @each $s in a,b,c
// 	    	#{$s}
//				display: none
// ## fonts 
// Save fonts to /css/fonts, after that write (eot, woff, ttf):
// +font(book, cytiapro-black-webfont)  
// =book
// 	font-family: "book", Arial, sans-serif 
// insert pics into css
// div
// 	+pic("blabla.png")
// span
// 	+png(blabla)
// p
// 	+jpg(bla)

$red: #e31e24

=f
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif
	font-weight: 300

body
	+f
	font-size: 20px 
	line-height: 1.2
	color: #333
button, input, textarea
	+f
a
	text-decoration: none

// common blocks
.wrapper
	min-height: 100%
	margin-bottom: -300px
	+r(980)
		margin-bottom: -250px

.push
	height: 300px
	+r(980)
		height: 250px

.l-center
	max-width: 1700px
	margin: 0 auto
	padding: 0 30px
	+r(1760)
		max-width: 900px
	+r(980)
		max-width: 290px
		padding: 0 15px
	&.l-center_small
		max-width: 1360px
		+r(1760)
			max-width: 900px
		+r(980)
			max-width: 290px
			padding: 0 15px
  
.header
	margin-bottom: 40px
	background: #101010   
	+r(980)
		margin-bottom: 20px
	.header__in
		position: relative
		+clr
	.header__logo
		float: left
		font-size: 0
	.phone
		margin: 100px 0 0 75px 
		+r(1760)
			margin: 93px 0 0 10px
		+r(980)
			top: 39px
			margin: 0 
	.nav-btn
		top: 10px
	.nav
		margin-top: 25px
		+r(980)
			margin: 0
	.nav__list
		&.is-active
			position: relative
			&:before
				content: ""
				position: absolute
				top: -25px
				left: 0
				right: 0
				height: 6px 
				background: $red 
				+r(980)
					display: none
		li
			&.is-active
				a
					position: relative
					color: #656363 

.nav-btn
	display: none
	position: absolute
	top: 18px
	right: 15px
	+s(menu-ico)
	z-index: 4 
	+r(980)
		display: block

.main
	margin-bottom: 85px
	padding-bottom: 4px
	border-bottom: 2px solid #1d1e1d 
	+r(1760)
		margin-bottom: 45px
	.main__bg
		background: url(../img/bg-main.jpg) 50% 50%
		background-size: cover  
	.main__center
		height: 100vh
		min-height: 100%
		max-width: 1520px
		margin: 0 auto
		padding: 0 30px
		+r(1760)
			max-width: 900px
		+r(980)
			max-width: 290px
			height: 825px
			padding: 0 15px
	.main__header
		position: relative
		min-height: 175px
		padding-top: 60px
		margin-bottom: 100px
		+clr
		+r(980)
			min-height: 13px
			padding: 0 
			margin: 0
	.main__in
		+clr
	.main__logo
		float: left
		font-size: 0
		+r(980)
			margin-bottom: 20px
	.main__serv
		float: right
		+r(980)
			text-align: center
	.main__serv-item
		display: inline-block
		margin-left: 15px
		background: #fff
		text-align: center
		vertical-align: top
		+r(1760)
			width: 230px
			margin-left: 8px 
		+r(980)
			margin: 0 0 8px
	.main__serv-pic
		position: relative
		img
			display: block
		&:after
			content: ""
			position: absolute
			left: 0
			right: 0
			bottom: 0
			height: 1px
			background: rgba(0,0,0,.15)
	.main__serv-title
		padding: 24px 0 38px
		font-size: 20px
		text-transform: uppercase
		color: #333
		+r(1760)
			padding: 16px 0 17px
			font-size: 16px

.phone
	float: left
	font-size: 0
	+r(980)
		float: none
		position: absolute
		top: 61px
		right: 15px
	.phone__in,	
	.phone__ico
		display: inline-block
		vertical-align: middle	
	.phone__in	
		margin-right: 25px
		font-size: 22px
		color: #C5C5C5 
		+r(1760)
			font-size: 20px
		+r(980)
			margin-right: 15px
			font-size: 18px
	.phone__ico
		+s(marker)
		+r(980)
			+s(marker-s)

.nav
	float: right
	margin-top: 8px
	&.nav_main
		+r(980)
			display: none
			position: absolute
			top: 0
			right: -15px
			width: 210px
			margin: 0
			padding: 20px 15px 50px 20px
			background: #101010 
			z-index: 2  
		.nav__list
			+r(980)
				display: block
				padding: 0
				margin-bottom: 10px
				border: none
				li
					margin-left: 25px
					padding: 5px 0 5px 10px
					border-left: 1px solid $red
					a
						font-size: 18px
					&:first-child
						margin: 0 0 10px
						padding: 0
						border: none
						a
							text-transform: none
							font-size: 22px
	.nav__list
		display: table-cell
		padding: 0 15px
		border-left: 1px solid #5F5F5F
		vertical-align: top 
		&:first-child
			border: none
		li
			line-height: 1.1
			&:first-child
				margin-bottom: 5px
				a
					text-transform: uppercase
					font-size: 20px
					+r(1760)
						font-size: 18px
		a
			color: #c5c5c5
			font-size: 16px

.slider
	margin-bottom: 180px
	+r(1760)
		margin-bottom: 70px
	+r(980)
		margin-bottom: 45px
	.slider__nav
		margin-bottom: 45px
		text-align: center
		+r(980)
			margin-bottom: 20px
	.slider__nav-in
		display: inline-block
		padding: 0 15px 7px
		border-bottom: 1px solid #a0a0a0 
		font-size: 0
		+r(980)
			padding: 0 0 8px
		a
			position: relative
			display: inline-block
			font-size: 18px
			color: #9E9E9E 
			+r(1760)
				font-size: 16px
			+r(980)
				font-size: 14px
			&:first-child
				margin-right: 30px
				+r(980)
					margin-right: 5px
			&.is-active
				color: #404040
				cursor: default 
				&:after
					content: ""
					position: absolute
					bottom: -10px
					left: 50%
					height: 3px
					width: 68px
					margin-left: -34px
					background: $red 
	.slider__center
		position: relative
		max-width: 1210px
		margin: 0 auto
		+r(1760)
			max-width: 850px
	.slider__in
		margin-bottom: 15px
		padding-bottom: 60px
		border-bottom: 2px solid #a0a0a0
		+r(980)	
			padding-bottom: 40px
			margin-bottom: 10px 
	.slider__about
		font-size: 30px
		text-align: center
		+r(1760)
			font-size: 24px
		+r(980)
			font-size: 16px
	.slider__list
		position: relative
	.slider__prev, .slider__next
		position: absolute
		top: 50%
		margin-top: -78px
		background: none
		font-size: 0 
		+r(980)
			display: none
	.slider__prev
		left: -170px
		+r(1760)
			left: -30px
	.slider__next
		right: -170px
		+r(1760)
			right: -30px
	.slider__item
		width: 100%
	.slider__item-in
		position: relative
		width: 100%
		height: 600px
		+r(1760)
			height: 430px
		+r(980)
			height: 400px
	.slider__pic
		position: absolute
	.slider__pic-in
		width: 270px
		height: 270px
		border-radius: 50%
		background: #FFF 
		border: 2px solid $red 
		+vertical
		+r(1760)
			width: 172px
			height: 172px
		+r(980)
			width: 130px
			height: 130px
		&:after
			content: ""
			position: absolute
			top: 50%
			left: 50%
			width: 184px
			height: 184px
			margin: -97px 0 0 -97px
			border-radius: 50% 
			border: 5px solid #404040
			z-index: 2
			+r(1760)
				width: 116px
				height: 116px
				margin: -63px 0 0 -63px
			+r(980)
				width: 88px
				height: 88px
				margin: -49px 0 0 -49px
		img
			position: relative
			vertical-align: middle
			z-index: 4 
	.slider__pic_big
		.slider__pic-in
			width: 530px
			height: 530px
			+r(1760)
				width: 334px
				height: 334px
			+r(980)
				width: 250px
				height: 250px
			&:after
				width: 360px
				height: 360px
				margin: -185px 0 0 -185px
				+r(1760)
					width: 224px
					height: 224px
					margin: -117px 0 0 -117px 
				+r(980)
					width: 170px
					height: 170px
					margin: -90px 0 0 -90px
	.slider__text
		position: absolute
		font-size: 30px
		+r(1760)	
			font-size: 18px
		+r(980)
			font-size: 10px
		span
			display: inline-block
			font-size: 120px 
			vertical-align: top
			line-height: 0.8
			+r(1760)	
				font-size: 74px
			+r(980)
				font-size: 48px
	.slider__text_1
		top: 80px
		left: 10px
		width: 540px
		+r(1760)
			left: 50px
			width: 340px
		+r(980)
			top: 0
			left: 0
			width: 230px
	.slider__text_2
		bottom: 0
		left: 350px
		+r(1760)
			left: 270px
		+r(980)
			left: 140px
	.slider__text_3
		top: 100px
		right: 10px
		width: 560px
		+r(1760)
			width: 400px
		+r(980)
			top: 0
			right: 0
			width: 200px
	.slider__text_4
		bottom: 0
		right: 280px
		width: 420px
		+r(1760)
			right: 180px
		+r(980)
			right: 140px
			width: 150px
	.slider__pic_1
		top: 0
		right: 0
		+r(1760)
			right: 50px
		+r(980)
			top: 65px
			right: 0
	.slider__pic_2
		bottom: 0
		left: 0
		+r(1760)
			left: 50px
		+r(980)
			left: 0
	.slider__pic_3
		top: 0
		left: 0
		+r(1760)
			left: 50px
		+r(980)
			top: 55px
			left: 0
	.slider__pic_4
		bottom: 0
		right: 0
		+r(1760)
			right: 50px
		+r(980)
			right: 0

.partners
	margin-bottom: 180px
	+r(980)
		margin-bottom: 45px
	.partners__title
		position: relative
		padding-bottom: 15px
		margin-bottom: 70px
		text-align: center
		font-size: 36px
		line-height: 1
		text-transform: uppercase
		+r(1760)
			margin-bottom: 40px
			padding-bottom: 10px
			font-size: 26px
		+r(980)
			font-size: 22px
		&:after
			content: ""
			position: absolute
			bottom: 0
			left: 50%
			width: 115px
			height: 3px
			margin-left: -57px
			background: $red 
	.partners__list
		font-size: 0
		border: 1px solid #a0a0a0
		+r(980)
			border-width: 1px 0 0 1px
		li
			display: inline-block
			width: 16.6% 
			height: 194px
			padding: 10px 
			border-left: 1px solid #a0a0a0 
			box-sizing: border-box
			vertical-align: top
			+vertical
			+r(1760)
				height: 104px
			+r(980)
				width: 50%
				height: 100px
				border: 1px solid #a0a0a0 
				border-width: 0 1px 1px 0
			&:first-child
				width: 17%
				border: none
				+r(980)
					width: 50%
					border: 1px solid #a0a0a0 
					border-width: 0 1px 1px 0
			img
				max-width: 100%
				max-height: 100%
				vertical-align: middle

.footer
	position: relative
	height: 300px
	background: #101010 
	+r(980)
		height: 250px
	.footer__in
		min-height: 185px
		padding-top: 65px
		+clr
		+r(980)
			min-height: 174px
			padding-top: 25px
	.footer__left
		float: left
	.footer__phone, .footer__mail
		color: #C5C5C5
	.footer__phone
		margin-bottom: 5px
	.footer__mail
		margin-bottom: 20px
		a
			color: #C5C5C5 
	.footer__down
		height: 49px
		border-top: 1px solid #3f3f3f 
		.l-center
			position: relative
			+clr
	.footer__copyright
		float: left
		margin-top: 14px
		font-size: 18px
		color: #B1B1B1 
		span
			+r(980)
				display: none
	.footer__created
		float: right
		margin-top: 9px
		font-size: 0
		span, a
			display: inline-block
			vertical-align: middle
		span
			margin-right: 15px
			font-size: 18px
			color: #B1B1B1 
			+r(980)
				font-size: 12px 
		a
			+s(mediahero)
		+r(980)
			position: absolute
			bottom: 60px
			left: 15px
	.nav
		margin: 0
		+r(980)
			display: none


.social
	font-size: 0
	a
		display: inline-block
		margin-left: 5px
		vertical-align: top
		&:first-child
			margin: 0
	.social__fb
		+s(fb)
	.social__gp
		+s(gp)
	.social__tw
		+s(tw)

































































































